<?xml version="1.0"?>
<config>
    <modules>
        <Canalweb_LimitCompare>
            <version>1.0.0</version>
        </Canalweb_LimitCompare>
    </modules>
    <global>
        <helpers>
            <limitCompare>
                <class>Canalweb_LimitCompare_Helper</class>
            </limitCompare>
        </helpers>
    </global>
    <frontend>
        <events>
            <catalog_product_compare_add_product>
                <observers>
                    <Canalweb_LimitCompare>
                        <type>singleton</type>
                        <class>Canalweb_LimitCompare_Helper_Observer</class>
                        <method>limitProductCompare</method>
                    </Canalweb_LimitCompare>
                </observers>
            </catalog_product_compare_add_product>
        </events>
	   <translate>
			<modules>
				<Canalweb_LimitCompare>
					<files>
						<default>Canalweb_LimitCompare.csv</default>
					</files>
				</Canalweb_LimitCompare>
			</modules>
		</translate>
    </frontend>
    <adminhtml>
       <acl>
           <resources>
               <admin>
                   <children>
                       <system>
                           <children>
                               <config>
                                   <children>
                                       <compare translate="title">
                                           <title>Compare</title>
                                       </compare>
                                   </children>
                               </config>
                           </children>
                       </system>
                   </children>
               </admin>
           </resources>
       </acl>
       <translate>
           <modules>
               <Canalweb_LimitCompare>
                   <files>
                       <default>Canalweb_LimitCompare.csv</default>
                   </files>
               </Canalweb_LimitCompare>
           </modules>
       </translate>
     </adminhtml>
     <default>
        <compare>
            <limit>
                <number>4</number>
            </limit>
        </compare>
     </default>
</config>
